body {
  background: url("https://fastly.jsdelivr.net/gh/jerryc127/butterfly_cdn@2.1.0/top_img/index.jpg");
  height: 100%;
  width: 100%;
  background-repeat: repeat-x;
  background-attachment: fixed;
  background-size: 100% 100%;
}
